/*  every page */
body{
    font-family: 'Cormorant Garamond', serif;
  }
  p {
  font-family: 'Montserrat', sans-serif;
  }


.bg-image {
    /* background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); */
    background-image: url(../images/2.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 33vh;
    background-color: #f3f3f3;

}
.mask {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}
/* pricing */
.card-default {
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.uk-card-body {
    padding: 30px 30px;
}

/* modal */


@media (max-width: 772px) {
      /* Center the text within the columns */
.costing label,
.costing input,
.costing button {
    text-align: center;
}

/* Center the button horizontally */
.costing button {
    margin: 0;
}

/* Center the text within the labels */
.costing label {
    display: flex;
    justify-content: center;
}

    }
  